.van-cell {
  background transparent
}
.doggy-list {
  .item {
    margin 0 auto
    width 300px
    background #fff
    border-radius 10px
    overflow hidden
    margin-bottom 20px
    .pic {
      width 300px
      height 400px
      img {
        width 100%
        height 100%
      }
    }
    .title {
      line-height 40px
      overflow-y hidden
      font-family 'Baloo Da'
      font-weight bold
      font-size 22px
      color rgb(172, 86, 42)
      padding 10px
    }
    .attrs {
      padding 10px
      p {
        margin 10px 0
        display flex
        justify-content space-between
        color rgb(172, 86, 42)
        span {
          &:last-child {
            font-weight 600
          }
        }
      }
    }
  }
}
.pc {
  .form-wrapper {
    background rgb(255, 243, 224)
    position fixed
    left 0
    top 0
    width 100%
    padding-bottom 15px
    .form, .total {
      width 1260px
      margin 0 auto
      position relative
    }
    .total {
      color red
    }
    .btn-wrapper {
      position absolute
      right 0
      top 0
    }
  }
  .content {
    padding-top 244px
    width 1260px
    margin 0 auto
  }
  .doggy-list {
    overflow hidden
    .item {
      float left
      margin-right 20px
      &:nth-of-type(4n) {
        margin-right 0
      }
    }
  }
}
.h5 {
  .form-wrapper {
    position fixed
    left 0
    top 0
    bottom 0
    right 0
    background rgb(255, 243, 224)
    overflow auto
    padding-bottom 20px
  }
  .menu {
    position fixed
    left 0
    top 0
    padding 10px
    color rgb(172, 86, 42)
    .van-icon {
      font-size 30px
    }
  }
  .close-menu {
    text-align center
    color rgb(172, 86, 42)
    font-size 40px
  }
  .my-address {
    padding 0 10px
    line-height 1.5
    p, h4 {
      margin 0
      img {
        vertical-align middle
        width 20px
        border-radius 50%
      }
    }
    .address {
      word-wrap break-word
      .van-button {
        margin-left 10px
      }
    }
  }
  .content {
    padding 20px 0
  }
}
.no-data {
  margin-top 50px
  text-align center
}
.fixed-wrapper {
  position fixed
  bottom 0
  right 0
  width 280px
  color #fff
  background #a457dc
  padding 20px 0
  text-align center
  line-height 1.5
  border-radius 10px
  p {
    padding 0 20px
    img {
      vertical-align middle
      width 20px
      border-radius 50%
    }
  }
  .talk {
    text-align left
  }
  .address {
    word-wrap break-word
    text-align left
    .van-button {
      margin-left 10px
    }
  }
  .qrcode {
    text-align center
    img {
      width 200px
      border-radius 10px
    }
  }
}
$aniTime = 0.2s
// .opacity-enter-active, .opacity-leave-active {
// transition all $aniTime ease-in
// }
// .opacity-enter-from, .opacity-leave-to {
// opacity 0
// }
.slide-left-enter-active, .slide-left-leave-active {
  transition all $aniTime ease-in
}
.slide-left-enter-from, .slide-left-leave-to {
  opacity 0
  transform translate3d(-100%, 0, 0)
}